<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender: Logs output to the system console -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 
                %d{HH:mm:ss.SSS} - Timestamp (hours:minutes:seconds.milliseconds)
                [%t]             - Thread name
                %-5level         - Log level (INFO, WARN, ERROR, etc.), padded to 5 characters
                %logger{36}      - Logger name (usually class name), truncated to 36 characters
                - %msg%n         - Actual log message, followed by a new line
            -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File appender: Logs output to a file -->
        <File name="File" fileName="logs/test.log">
            <!-- Same pattern layout as console -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <!-- Loggers configuration would go here (if any specific loggers are defined) -->
 <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <!--AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root> 
       
    </Loggers>


</Configuration>
